/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Styles for extra small devices go here */
  .name {
    margin-top: 1rem !important;
    font-size: 2.5rem !important;
  }
  .designation {
    font-size: 2.5rem !important;
  }
  .ui-avatar {
    width: 360px !important;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Styles for small devices go here */
  .name {
    margin-top: 1rem;
    font-size: 3.5rem !important;
  }
  .designation {
    font-size: 3.5rem !important;
  }
  .ui-avatar {
    width: 350px !important;;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 /* Styles for small devices go here */
  .name {
    margin-top: 1rem;
    font-size: 4.5rem !important;
  }
  .designation {
    font-size: 4.5rem !important;
  }
  /* .ui-avatar {
    width: 500px !important;;
  } */

}

  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Styles for large devices go here */ 
  /* .ui-avatar {
    width: 550px !important;
  } */
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Styles for extra large devices go here */
  .name {
    margin-top: 1rem;
    font-size: 4.5rem !important;
  }
  .designation {
    font-size: 4.5rem !important;
  }
  .ui-avatar {
    width: 30% !important;
  }
}
